<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cat300.IndoorNavigationSystem">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass"  android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope"  android:required="true" />
    <uses-feature android:name="android.hardware.wifi" android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="@string/indooratlas_api_key"/>

        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="@string/indooratlas_api_secret"/>
        <activity
            android:name=".ListExamplesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Navigation"
            android:label="@string/example_wayfinding_title"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CredentialsFromCodeActivity"
            android:label="@string/example_credentials_title" />

        <activity
            android:name=".MainActivity"
            android:label="@string/example_foregroundservice_title"/>


        <service
            android:name=".ForegroundService"
            android:exported="false"
            android:foregroundServiceType="location"
            tools:ignore="MissingClass" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cat300.IndoorNavigationSystem.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


    </application>

</manifest>